$bodybgcolor: #ffffff;
$bgcolor: #77a6f7;
$btncolor: #77a6f7;
$lighttextcolor: #ffffff;
$darktextcolor: #00887a;
$bordercolor: #d3e3fc;
$hovercolor: #f5e6cc;
$ownAnswerColor: #ffccbc;
$inactivecolor: #ffffff;
$activecolor: #d3e3fc;
$firstOpponentColor:#00887a;
$secondOpponentColor:#d3e3fc;

%col-1 {width: 8.33%; float: left; box-sizing: border-box;}
%col-2 {width: 16.66%; float: left; box-sizing: border-box;}
%col-3 {width: 25%; float: left; box-sizing: border-box;}
%col-4 {width: 33.33%; float: left; box-sizing: border-box;}
%col-5 {width: 41.66%; float: left; box-sizing: border-box;}
%col-6 {width: 50%; float: left; box-sizing: border-box;}
%col-7 {width: 58.33%; float: left; box-sizing: border-box;}
%col-8 {width: 66.66%; float: left; box-sizing: border-box;}
%col-9 {width: 75%; float: left; box-sizing: border-box;}
%col-10 {width: 83.33%; float: left; box-sizing: border-box;}
%col-11 {width: 91.66%; float: left; box-sizing: border-box;}
%col-12 {width: 100%; float: left; box-sizing: border-box;}

%col-offset-1 {margin-left: 8.33%;}
%col-offset-2 {margin-left: 16.66%;}
%col-offset-3 {margin-left: 25%;}
%col-offset-4 {margin-left: 33.33%;}
%col-offset-5 {margin-left: 41.66%;}
%col-offset-6 {margin-left: 50%;}
%col-offset-7 {margin-left: 58.33%;}
%col-offset-8 {margin-left: 66.66%;}
%col-offset-9 {margin-left: 75%;}
%col-offset-10 {margin-left: 83.33%;}
%col-offset-11 {margin-left: 91.66%;}
%col-offset-12 {margin-left: 100%;}

%row::after{
    content: "";
    clear: both;
    display: table;
}


%button {
    background-color: $btncolor;
    border: none;
    padding: 10px 15px;
    text-align: center;
    // text-decoration: none;
    color: $lighttextcolor;
    font-size: 16px;
    cursor: pointer;
}

body {
  background-color: $bodybgcolor;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .main {
//   @extend %col-10;
//   @extend %col-offset-1;
//   background-color: $bgcolor;
// }

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
}

.auth-section, .menu-section, .game-section, .loading-section {
  position: relative;
  @extend %col-6;
  @extend %col-offset-3;
  min-height: 500px;
  border: 1px solid $bordercolor;
}

.auth-section {
  .auth-nav {
    @extend %row;
  }
  
  .auth-tab {
    @extend%col-6;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid $activecolor;
  }
  
  .active {
    background-color: $activecolor;
  }

  .inactive {
    background-color: $inactivecolor;
  }

  .auth-form {
    @extend %col-8;
    @extend %col-offset-2;
    margin-top: 40px;
    margin-bottom: 40px;
    color: $darktextcolor;
    border: 1px solid $bordercolor;
    text-align: center;

    button {
      margin-bottom: 20px;
      margin-top: 10px;
      @extend%button;
      @extend%col-6;
      @extend%col-offset-3;
    }
  }

  .form-group {
    @extend %row;
    margin-top: 20px;
    label {
      display: block;
    }

    input{
      height: 30px;
      @extend %col-6;
      @extend %col-offset-3;
    }
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    @extend %button;
    @extend%col-6;
    @extend%col-offset-3;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.game-section {
  .question-container {
    @extend %col-10;
    @extend %col-offset-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .question-body, .answer-container {
    background-color: $bgcolor;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .answer-container {
    @extend %col-10;
    @extend %col-offset-1;
    cursor: pointer;
  }

  .disabled {
    pointer-events: none;
  }

  .own-answer {
    background-color: $ownAnswerColor;
  }

  .opponent1 {
    background-color: $firstOpponentColor;
  }

  .opponent2 {
    background-color: $secondOpponentColor;
  }

  .own-answer.opponent1 {
    background-image: linear-gradient(to right, 
    $ownAnswerColor 50%, $firstOpponentColor 50%); 
  }

  .own-answer.opponent2 {
    background-image: linear-gradient(to right, $ownAnswerColor 50%, $secondOpponentColor 50%); 
  }

  .opponent1.opponent2 { 
    background-image: linear-gradient(to right, $firstOpponentColor 50%, $secondOpponentColor 50%); 
  }

  .own-answer.opponent1.opponent2 {
    background-image: linear-gradient(to right, $ownAnswerColor 33%, $firstOpponentColor 33%, $firstOpponentColor 66%, $secondOpponentColor 66%);
  }

  .correct-answer {
    animation: blink 1s linear 3;
	}
  
}
@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}