.game-section .opponents-container .opponent1 .opponent-avatar, .game-section .opponents-container .opponent2 .opponent-avatar, .game-section .opponents-container .opponent1, .game-section .opponents-container .opponent2 {
  width: 33.33%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.auth-section, .menu-section, .game-section, .loading-section, .auth-section .auth-tab, .auth-section .auth-form button, .auth-section .form-group input, .menu-section button, .game-section .form-group input, .game-section button {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.auth-section .auth-form {
  width: 66.66%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-section .opponents-container, .game-section .question-container, .game-section .answer-container {
  width: 83.33%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-section .opponents-container, .game-section .opponents-container .opponent1 .opponent-avatar, .game-section .opponents-container .opponent2 .opponent-avatar, .game-section .opponents-container .opponent1, .game-section .question-container, .game-section .answer-container {
  margin-left: 8.33%;
}

.auth-section .auth-form, .game-section .opponents-container .opponent2 {
  margin-left: 16.66%;
}

.auth-section, .menu-section, .game-section, .loading-section, .auth-section .auth-form button, .auth-section .form-group input, .menu-section button, .game-section .form-group input, .game-section button {
  margin-left: 25%;
}

.auth-section .auth-nav::after, .auth-section .form-group::after, .game-section .opponents-container, .game-section .question-container, .game-section .form-group::after {
  content: "";
  clear: both;
  display: table;
}

.auth-section .auth-form button, .menu-section button, .game-section button {
  background-color: #8293a7;
  border: none;
  padding: 10px 15px;
  text-align: center;
  color: #f8f8f8;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background-color: #07080a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader .loader-picture {
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/settings.svg");
  background-size: cover;
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}

.auth-section, .menu-section, .game-section, .loading-section {
  position: relative;
  min-height: 600px;
  background-color: #242831;
  color: #f8f8f8;
}

.auth-section h2 {
  margin: 0;
}

.auth-section .auth-tab {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  border-bottom: 1px solid #8293a7;
}

.auth-section .active {
  background-color: #8293a7;
}

.auth-section .inactive {
  background-color: #374254;
}

.auth-section .auth-form {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #384355;
  color: #f8f8f8;
  text-align: center;
}

.auth-section .auth-form input {
  background-color: #c9d3df;
  border-radius: 5px;
  border: none;
}

.auth-section .auth-form button {
  margin-top: 20px;
}

.auth-section .form-group {
  margin-top: 20px;
}

.auth-section .form-group label {
  display: block;
}

.auth-section .form-group input {
  height: 30px;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-section button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-section .opponents-container {
  min-height: 10px;
  text-align: center;
}

.game-section .opponents-container .opponent1, .game-section .opponents-container .opponent2 {
  background-color: #8293a7;
  border-radius: 3px;
}

.game-section .opponents-container .opponent1 .opponent-avatar, .game-section .opponents-container .opponent2 .opponent-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
}

.game-section .opponents-container .opponent1 .opponent-name, .game-section .opponents-container .opponent2 .opponent-name {
  display: inline-block;
}

.game-section .opponents-container .opponent1 {
  color: #ffb26c;
}

.game-section .opponents-container .opponent2 {
  color: #a143b1;
}

.game-section .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-section .question-container .disabled {
  pointer-events: none;
}

.game-section .question-container .own-answer {
  background-color: #8293a7;
}

.game-section .question-container .opponent1 {
  background-color: #ffb26c;
}

.game-section .question-container .opponent2 {
  background-color: #a143b1;
}

.game-section .question-container .own-answer.opponent1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #8293a7), color-stop(50%, #ffb26c));
  background-image: linear-gradient(to right, #8293a7 50%, #ffb26c 50%);
}

.game-section .question-container .own-answer.opponent2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #8293a7), color-stop(50%, #a143b1));
  background-image: linear-gradient(to right, #8293a7 50%, #a143b1 50%);
}

.game-section .question-container .opponent1.opponent2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffb26c), color-stop(50%, #a143b1));
  background-image: linear-gradient(to right, #ffb26c 50%, #a143b1 50%);
}

.game-section .question-container .own-answer.opponent1.opponent2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #8293a7), color-stop(33%, #ffb26c), color-stop(66%, #ffb26c), color-stop(66%, #a143b1));
  background-image: linear-gradient(to right, #8293a7 33%, #ffb26c 33%, #ffb26c 66%, #a143b1 66%);
}

.game-section .question-container .correct-answer {
  -webkit-animation: blink 1s linear 3;
  animation: blink 1s linear 3;
}

.game-section .question-body, .game-section .answer-container {
  background-color: #374254;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.game-section .answer-container {
  cursor: pointer;
}

.game-section .form-group {
  margin-top: 20px;
}

.game-section .form-group label {
  display: block;
}

.game-section .form-group input {
  height: 30px;
}

.game-section button {
  margin-bottom: 20px;
  margin-top: 10px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */