$bodybgcolor: #07080a;
$bgcolor: #242831;
$generaluibgcolor: #374355;
$btncolor: #8293a7;
$inputbgcolor: #c9d3df;
$lighttextcolor: #f8f8f8;
$darktextcolor: #f8f8f8;
$bordercolor: #d3e3fc;
$hovercolor: #f5e6cc;
$ownAnswerColor: #8293a7;
$inactivecolor: #374254;
$activecolor: #8293a7;
$playerColor: #33bf6b;
$firstOpponentColor:#ffb26c;
$secondOpponentColor:#a143b1;

%col-1 {width: 8.33%; float: left; box-sizing: border-box;}
%col-2 {width: 16.66%; float: left; box-sizing: border-box;}
%col-3 {width: 25%; float: left; box-sizing: border-box;}
%col-4 {width: 33.33%; float: left; box-sizing: border-box;}
%col-5 {width: 41.66%; float: left; box-sizing: border-box;}
%col-6 {width: 50%; float: left; box-sizing: border-box;}
%col-7 {width: 58.33%; float: left; box-sizing: border-box;}
%col-8 {width: 66.66%; float: left; box-sizing: border-box;}
%col-9 {width: 75%; float: left; box-sizing: border-box;}
%col-10 {width: 83.33%; float: left; box-sizing: border-box;}
%col-11 {width: 91.66%; float: left; box-sizing: border-box;}
%col-12 {width: 100%; float: left; box-sizing: border-box;}

%col-offset-1 {margin-left: 8.33%;}
%col-offset-2 {margin-left: 16.66%;}
%col-offset-3 {margin-left: 25%;}
%col-offset-4 {margin-left: 33.33%;}
%col-offset-5 {margin-left: 41.66%;}
%col-offset-6 {margin-left: 50%;}
%col-offset-7 {margin-left: 58.33%;}
%col-offset-8 {margin-left: 66.66%;}
%col-offset-9 {margin-left: 75%;}
%col-offset-10 {margin-left: 83.33%;}
%col-offset-11 {margin-left: 91.66%;}
%col-offset-12 {margin-left: 100%;}

%row::after{
    content: "";
    clear: both;
    display: table;
}


%button {
    background-color: $btncolor;
    border: none;
    padding: 10px 15px;
    text-align: center;
    // text-decoration: none;
    color: $lighttextcolor;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

body {
  background-color: $bodybgcolor;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .main {
//   @extend %col-10;
//   @extend %col-offset-1;
//   background-color: $bgcolor;
// }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  // -webkit-transform: translateX(-50%);
  // transform: translateX(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  .loader-picture {
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('images/settings.svg');
    background-size: cover;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
  }
}

.auth-section, .menu-section, .game-section, .loading-section {
  position: relative;
  @extend %col-6;
  @extend %col-offset-3;
  min-height: 600px;
  background-color: $bgcolor;
  color: $lighttextcolor;
  // border: 1px solid $bordercolor;
}

.auth-section {
  .auth-nav {
    @extend %row;
  }

  h2{
    margin:0;
  }

  .auth-tab {
    @extend%col-6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    border-bottom: 1px solid $activecolor;
  }
  
  .active {
    background-color: $activecolor;
  }

  .inactive {
    background-color: $inactivecolor;
  }

  .auth-form {
    @extend %col-8;
    @extend %col-offset-2;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $generaluibgcolor;
    color: $darktextcolor;
    text-align: center;

    input {
      background-color: $inputbgcolor;
      border-radius: 5px;
      border: none;
    }

    button {
      margin-top: 20px;
      @extend%button;
      @extend%col-6;
      @extend%col-offset-3;
    }
  }

  .form-group {
    @extend %row;
    margin-top: 20px;
    label {
      display: block;
    }

    input{
      height: 30px;
      @extend %col-6;
      @extend %col-offset-3;
    }
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    @extend %button;
    @extend%col-6;
    @extend%col-offset-3;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.game-section {
  .game-info-container {
    @extend %row::after;
    @extend %col-12;
    background-color: $generaluibgcolor;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #adb9c9;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    .game-progress, .current-question-category, .player-info-container {
      height: 80px;
    }

    .game-progress, .current-question-category {
      @extend %col-4;
      border-right: 1px solid #adb9c9;
    }

    .current-question-category, .game-progress {
      span:nth-child(1) {
        display: block;
      }
    }
  }

  .players-announcement-container {
    @extend %col-12;
    position: absolute;
    top:40%;

    h2{
      text-align: center;
    }
  }

  .player-info-container {
    @extend %col-4;
    .player-avatar {
      @extend %col-4;
      @extend %col-offset-1;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 70px;
    }

    .player-name {
      display: block;
      font-weight: bold;
      font-size: 18px;
    }

    .player {
      color: $playerColor;
    }

    .opponent1 {
      color: $firstOpponentColor;
    }

    .opponent2 {
      color: $secondOpponentColor;
    }
  }

    
  
  .question-container {
    @extend %row::after;
    @extend %col-10;
    @extend %col-offset-1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .disabled {
      pointer-events: none;
    }
  
    .own-answer {
      background-color: $ownAnswerColor;
    }
  
    .opponent1 {
      background-color: $firstOpponentColor;
    }
  
    .opponent2 {
      background-color: $secondOpponentColor;
    }
  
    .own-answer.opponent1 {
      background-image: linear-gradient(to right, 
      $ownAnswerColor 50%, $firstOpponentColor 50%); 
    }
  
    .own-answer.opponent2 {
      background-image: linear-gradient(to right, $ownAnswerColor 50%, $secondOpponentColor 50%); 
    }
  
    .opponent1.opponent2 { 
      background-image: linear-gradient(to right, $firstOpponentColor 50%, $secondOpponentColor 50%); 
    }
  
    .own-answer.opponent1.opponent2 {
      background-image: linear-gradient(to right, $ownAnswerColor 33%, $firstOpponentColor 33%, $firstOpponentColor 66%, $secondOpponentColor 66%);
    }
  
    .correct-answer {
      -webkit-animation:blink 1s linear 3;
      -moz-animation:blink 1s linear 3;
      animation: blink 1s linear 3;
    }
  }
  .question-body, .answer-container {
    background-color: $inactivecolor;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
  }

  .answer-container {
    @extend %col-10;
    @extend %col-offset-1;
    cursor: pointer;
  }

  .form-group {
    @extend %row;
    margin-top: 20px;
    label {
      display: block;
    }

    input{
      height: 30px;
      @extend %col-6;
      @extend %col-offset-3;
    }
  }
  
  button {
    margin-bottom: 20px;
    margin-top: 10px;
    @extend%button;
    @extend%col-6;
    @extend%col-offset-3;
  }
  
}
@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

@-webkit-keyframes blink {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }